html, body {
  font-size: 1px;   /*background gradient*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html a, body a {
  display: block;
  /*width: 100vw;*/
  height: 3em;
  font-family: 'Muli', sans-serif; /*'Raleway Dots', cursive;*/
  color: #9C9C9A;
  font-size: 16rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-size: 18rem;
  color:white;
  text-shadow: 1px 1px 4px darkgray;
}

html p, body p {
  font-family:'Nunito Sans', sans-serif;
  font-size: 14rem;
  font-weight: 200;
  letter-spacing: 0.033em;
  line-height: 1.5;
  opacity: 0.5;
  padding: 10px 45px 10px 45px;
}

.text {
  margin-top: 5vw;
  margin-left: 15vw;
  width: 50vw;
}

.introduction {
  margin-left: 2.5vw;
/*  border: 1px solid #333;
  border-radius: 5px;*/
  width: 80vw;
  height: 70vh;
}
.selfie {
  margin-top: 5%;
  margin-left: 44%;
  height: 75px;
}
.toggle1 {
  /*line-height: 60em;*/
  margin-top: 10%;
  margin-left: 40%;
  line-height: 36px;
  width: 160px;
  height: 40px;
  border: 1px dotted #D4D4D4;
  border-radius: 5px;
  text-shadow: 1px 1px 4px #C7C7C7;
}

.toggle2 {
  /*line-height: 60em;*/
  margin-top: 6%;
  margin-left: 40%;
  line-height: 36px;
  width: 160px;
  height: 40px;
  border: 1px dotted #D4D4D4;
  border-radius: 5px;
  text-shadow: 1px 1px 4px #C7C7C7;
}

.IT-wrap {
  top: 0;
  margin-left: 7.5vw;
  width: 90vw;
  height: 100vh;
}

.RP-wrap {
  width: 100vw;
  height: 200vh;
}

.light-gradient-bg {
  background-color: #eaeceb;
  background: url("http://api.thumbr.it/whitenoise-400x400.png?background=EDEFEE&noise=444444&density=66&opacity=5") 0 0/200rem 200rem;
  background: url("http://api.thumbr.it/whitenoise-400x400.png?background=FFFFFF00&noise=444444&density=66&opacity=5") 0 0/200rem 200rem, -webkit-linear-gradient(top, #f0f2f1 0%, #e7e8e7 100%);
  background: url("http://api.thumbr.it/whitenoise-400x400.png?background=FFFFFF00&noise=444444&density=66&opacity=5") 0 0/200rem 200rem, linear-gradient(top, #f0f2f1 0%, #e7e8e7 100%);
  background: url("http://api.thumbr.it/whitenoise-400x400.png?background=FFFFFF00&noise=444444&density=66&opacity=5") 0 0/200rem 200rem, linear-gradient(to bottom, #f0f2f1 0%, #e7e8e7 100%);
}