$font-cover: 'Special Elite', cursive;
$font-author: 'Special Elite', cursive;
$font-text: 'Averia Serif Libre', cursive;  //multi-size: 300/400/700
$font-project: 'Bungee Hairline', cursive;
$font-highlight: 'Londrina Shadow', cursive;

.material-icons {
  &.md-16 {
    font-size: 16px;
  }
  &.md-love {
    color: #ff7761;
  }
}

/* Resets */

html, body, p {
  padding: 0;
  margin: 0;
}

body {
  background: #e3dfd8;
}

ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.social-btns > li > a {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
  background: none !important;
  outline: none;
  &:hover, &:active, &:visited {
    color: inherit;
    text-decoration: none !important;
    background: none !important;
    outline: none;
  }
}

/* Generic Styles & Utility */

.js-dis {
  display: none;
}

.text-bold {
  font-family: 'Raleway';
  font-weight: 700;
}

a.global-button, .heading {
  font-size: 1.7em;
  font-family: 'Raleway', sans-serif;
}

a.global-button {
  text-transform: uppercase;
  color: #9C9C9A;
}

.heading {
  text-transform: uppercase;
  color: #9C9C9A;
  margin: 0;
  margin-bottom: 2em;
}

.header__social-btns > li > a:hover, .filters__label:hover {
  color: #74706F;
}

.header__social-btns > li > a, .filters__label {
  transition: all 250ms linear;
}

.global-button {
  &::before {
    content: "";
    height: 1em;
    width: 1em;
    display: inline-block;
    position: relative;
    top: .2em;
    bottom: 0;
    background: url('https://eevu.github.io/img/arrow.svg') no-repeat;
    background-position: center;
    background-size: cover;
  }
  &.rotated::before {
    transform: rotate(90deg);
    left: -.5em;
  }
}


/*** Header ***/
.header {
  padding: 1.5em 6% 1em;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
}

@media (min-width: 920px) {
  .header {
    padding-left: 6em;
    padding-right: 6em;
  }
}


/* Social Links */

.header__social-btns {
  text-align: right;
  > li {
    display: inline-block;
    > a {
      position: relative;
      padding: 5px;
    }
  }
}

/* Graphic Book */
.book {
  -webkit-transition: opacity 0.4s 0.2s;
  transition: opacity 0.4s 0.2s;
}

.page {
  width: 36vw;
  height: 27vw;
  background-colour: #fff;
  float: left;
  margin-bottom: 0.5em;
  &:first-child {
    float: right;
  }
  &:nth-child(even) {
    clear: both;
  }
}

.bound {
  -webkit-perspective: 250vw;
  perspective: 500vw;
  .pages {
    width: 72vw;
    height: 27vw;
    position: relative;
    -webkit-transform: rotateX(12deg);
    transform: rotateX(12deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #e3dfd8;
  }
  .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 36vw;
    height: 27vw;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 1.4s;
    transition: -webkit-transform 1.4s;
    transition: transform 1.4s;
    transition: transform 1.4s, -webkit-transform 1.4s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0);
      -webkit-transition: background 0.7s;
      transition: background 0.7s;
      z-index: 2;
    }
    &:nth-child(odd) {
      pointer-events: all;
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      right: 0;
      border-radius: 0 4px 4px 0;
      &:hover {
        -webkit-transform: rotateY(-10deg);
        transform: rotateY(-10deg);
        &:before {
          background: rgba(0, 0, 0, 0.03);
        }
      }
      &:before {
        background: rgba(0, 0, 0, 0);
      }
    }
    &:nth-child(even) {
      pointer-events: none;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
      left: 0;
      border-radius: 4px 0 0 4px;
      &:before {
        background: rgba(0, 0, 0, 0.2);
      }
    }
    &.grabbing {
      -webkit-transition: none;
      transition: none;
    }
    &.flipped {
      &:nth-child(odd) {
        pointer-events: none;
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        &:before {
          background: rgba(0, 0, 0, 0.2);
        }
      }
      &:nth-child(even) {
        pointer-events: all;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        &:hover {
          -webkit-transform: rotateY(10deg);
          transform: rotateY(10deg);
          &:before {
            background: rgba(0, 0, 0, 0.03);
          }
        }
        &:before {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
  :before, &:after {
    box-sizing: border-box;
  }
}

body {
  // min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  // -webkit-box-align: center;
  // -webkit-align-items: center;
  // -ms-flex-align: center;
  // align-items: center;
  // padding: 2em 0;
  // line-height: 1.5em;
}

.alien {
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 20%;
  border-radius: 50%;
  opacity: 0.7;
  box-shadow: 1px 1px 8px #9C9C9A;
}

#name {
  margin-top: 8%;
  font-family: $font-cover;
  font-size: 24px;
  text-align: center;
}
.self {
  height: 220px;
  display: block;
  margin: auto;
  margin-top: 8%;
}

.author {
  text-align: center;
  font-family: $font-author;
}

.varidada, .starry, .lollipop, .bouncing {
  display: block;
  margin: auto;
  margin-top: 5%;
}

.page {
  /*color: transparent;*/
  color: black;
  background-color: #FFFDF7;
  background-image: url('https://www.transparenttextures.com/patterns/sprinkles.png');
  /* https://www.transparenttextures.com/patterns/stardust.png */
  /*background: center no-repeat;*/
  /*background-size: contain;*/
  &:nth-child(3), &:nth-child(5), &:nth-child(7), &:nth-child(9), &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19), &:nth-child(21) {
    background-position: center;
  }
  &:nth-child(1) {
    background-color: transparent;
    /*background-image: url('http://jasonhibbs.co.uk/wp-content/uploads/2015/02/bh_cover_f.jpg');*/
  }
  &:nth-child(2), &:nth-child(3) {
    background-color: #FFFDF7;
    /* #676161 */
  }
  &:nth-child(4), &:nth-child(5) {
    background-color: #74706F;
  }
  &:nth-child(6), &:nth-child(7) {
    background-color: #7F7B7A;
  }
  &:nth-child(8), &:nth-child(9) {
    background-color: #9C9C9A;
  }
  &:nth-child(10), &:nth-child(11) {
    background-color: #B9B2A1;
  }
  &:nth-child(12), &:nth-child(13), &:nth-child(14), &:nth-child(15) {
    background-color: #FFFDF7;
  }
  &:nth-child(16), &:nth-child(17) {
    background-color: #B5BBC8;
  }
  &:nth-child(18), &:nth-child(19) {
    background-color: #A3A7B3;
  }
  &:nth-child(20), &:nth-child(21) {
    background-color: #8A8598;
  }
  &:nth-child(22) {
    background-color: transparent;
    /*background-image: url('http://jasonhibbs.co.uk/wp-content/uploads/2015/02/bh_cover_b.jpg');*/
  }
}


/* --- Sections --- */

#about {
  padding-top: 2em;
}
#portfolio{
  padding-top: 5em;
}

/*** About Section ***/
.instruction {
  margin-top: 5%;
  margin-left: 45%;
}

#about {
  display: flex;
  min-height: 100vh;
  .wrapper {
    max-width: 80%;
    margin: auto;
    margin-right: 10%;
  }
}

@media (min-width: 768px) {
  #about .wrapper {
    margin-right: 24%;
  }
}

.about__intro {
  border-left: 2px solid;
  padding-left: 2.2em;
  margin-bottom: 1em;
  max-width: 25em;
}

#about:hover .global-button.rotated::before {
  animation: move_arrow_v 2500ms ease-in infinite forwards;
}

@keyframes move_arrow_v {
  0% {
    transform: rotate(90deg) translateX(0px);
  }

  50% {
    transform: rotate(90deg) translateX(0px);
  }

  60% {
    transform: rotate(90deg) translateX(8px);
  }

  70% {
    transform: rotate(90deg) translateX(0px);
  }

  80% {
    transform: rotate(90deg) translateX(8px);
  }

  90% {
    transform: rotate(90deg) translateX(0px);
  }

  100% {
    transform: rotate(90deg) translateX(0px);
  }
}

/*** Portfolio Section ***/

/* Filters */

#portfolio > .filters {
  text-align: right;
  padding: 0 20px;
}

.filters__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
}

.filters__list {
  display: inline-block;
  vertical-align: baseline;
}

.filters__label {
  color: #dcd5b2;
  &:not(:first-child)::before {
    color: #dcd5b2;
  }
  display: inline-block;
  position: relative;
  margin-left: .8em;
  cursor: pointer;
  &.is-active {
    color: inherit;
  }
  &:not(:first-child)::before {
    content: "/";
    margin-right: .8em;
  }
}

/* Projects */

.portfolio__project-wrapper {
  padding: 0 10px;
}

.portfolio__project {
  position: relative;
  height: auto;
  padding: 0;
  background-color: #ECE9E6;
  background-clip: padding-box;
  border: 10px solid transparent;
  overflow: hidden;
}

.portfolio__project__preview {
  position: relative;
  top: 0;
  height: auto;
  > img {
    width: 100%;
    height: auto;
  }
}

.portfolio__project__description {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 1.8em 1.3em;
  text-align: center;
  background: #e3dfd8;
}

.portfolio__project__name {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: .2em;
}

.portfolio__project__category {
  font-size: .9em;
  color: #dcd5b2;
  margin-bottom: .6em;
}

.portfolio__project__preview, .portfolio__project__description {
  transition: all 600ms ease;
}

.portfolio__project:hover {
  .portfolio__project__description {
    transform: translateY(-100%);
  }
  .portfolio__project__preview {
    transform: translateY(-2.5em);
  }
}