/* line 14, ../sass/style.scss */
.material-icons.md-16 {
  font-size: 16px;
}
/* line 17, ../sass/style.scss */
.material-icons.md-love {
  color: #ff7761;
}

/* Resets */
/* line 24, ../sass/style.scss */
html, body, p {
  padding: 0;
  margin: 0;
}

/* line 29, ../sass/style.scss */
body {
  background: #e3dfd8;
}

/* line 33, ../sass/style.scss */
ul {
  padding: 0;
  margin: 0;
}
/* line 36, ../sass/style.scss */
ul li {
  padding: 0;
  margin: 0;
}

/* line 42, ../sass/style.scss */
.social-btns > li > a {
  padding: 0;
  margin: 0;
}

/* line 47, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none !important;
  background: none !important;
  outline: none;
}
/* line 52, ../sass/style.scss */
a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none !important;
  background: none !important;
  outline: none;
}

/* Generic Styles & Utility */
/* line 62, ../sass/style.scss */
.js-dis {
  display: none;
}

/* line 66, ../sass/style.scss */
.text-bold {
  font-family: 'Raleway';
  font-weight: 700;
}

/* line 71, ../sass/style.scss */
a.global-button, .heading {
  font-size: 1.7em;
  font-family: "Londrina Shadow", cursive;
  letter-spacing: 2px;
}

/* line 77, ../sass/style.scss */
a.global-button {
  text-transform: uppercase;
  color: #7F7B7A;
}

/* line 82, ../sass/style.scss */
.heading {
  text-transform: uppercase;
  color: #7F7B7A;
  margin: 0;
  margin-bottom: 2em;
}

/* line 89, ../sass/style.scss */
.header__social-btns > li > a:hover, .filters__label:hover {
  color: #74706F;
}

/* line 93, ../sass/style.scss */
.header__social-btns > li > a, .filters__label {
  transition: all 250ms linear;
}

/* line 98, ../sass/style.scss */
.global-button::before {
  content: "";
  height: 1em;
  width: 1em;
  display: inline-block;
  position: relative;
  top: .2em;
  bottom: 0;
  background: url("http://candylabs.github.io/images/arrow.png") no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 110, ../sass/style.scss */
.global-button.rotated::before {
  left: -.5em;
}

/*** Header ***/
/* line 118, ../sass/style.scss */
.header {
  padding: 1.5em 6% 1em;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
}

@media (min-width: 920px) {
  /* line 127, ../sass/style.scss */
  .header {
    padding-left: 6em;
    padding-right: 6em;
  }
}
/* Social Links */
/* line 136, ../sass/style.scss */
.header__social-btns {
  text-align: right;
}
/* line 138, ../sass/style.scss */
.header__social-btns > li {
  display: inline-block;
}
/* line 140, ../sass/style.scss */
.header__social-btns > li > a {
  position: relative;
  padding: 5px;
}

/* Graphic Book */
/* line 148, ../sass/style.scss */
.book {
  -webkit-transition: opacity 0.4s 0.2s;
  transition: opacity 0.4s 0.2s;
}

/* line 153, ../sass/style.scss */
.page {
  width: 36vw;
  height: 27vw;
  background-color: #f2f1f0;
  margin-bottom: 0.5em;
}
/* line 159, ../sass/style.scss */
.page:first-child {
  float: right;
}
/* line 162, ../sass/style.scss */
.page:nth-child(even) {
  clear: both;
}

/* line 167, ../sass/style.scss */
.bound {
  -webkit-perspective: 500vw;
  perspective: 500vw;
}
/* line 170, ../sass/style.scss */
.bound .pages {
  width: 72vw;
  height: 27vw;
  position: relative;
  -webkit-transform: rotateX(12deg);
  transform: rotateX(12deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e3dfd8;
}
/* line 183, ../sass/style.scss */
.bound .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 36vw;
  height: 27vw;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1.4s;
  transition: -webkit-transform 1.4s;
  transition: transform 1.4s;
  transition: transform 1.4s, -webkit-transform 1.4s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 206, ../sass/style.scss */
.bound .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  -webkit-transition: background 0.7s;
  transition: background 0.7s;
  z-index: 2;
}
/* line 218, ../sass/style.scss */
.bound .page:nth-child(odd) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
}
/* line 224, ../sass/style.scss */
.bound .page:nth-child(odd):hover {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}
/* line 227, ../sass/style.scss */
.bound .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
/* line 231, ../sass/style.scss */
.bound .page:nth-child(odd):before {
  background: transparent;
}
/* line 235, ../sass/style.scss */
.bound .page:nth-child(even) {
  pointer-events: none;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
}
/* line 243, ../sass/style.scss */
.bound .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
/* line 247, ../sass/style.scss */
.bound .page.grabbing {
  -webkit-transition: none;
  transition: none;
}
/* line 252, ../sass/style.scss */
.bound .page.flipped:nth-child(odd) {
  pointer-events: none;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
/* line 256, ../sass/style.scss */
.bound .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
/* line 260, ../sass/style.scss */
.bound .page.flipped:nth-child(even) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
/* line 264, ../sass/style.scss */
.bound .page.flipped:nth-child(even):hover {
  -webkit-transform: rotateY(10deg);
  transform: rotateY(10deg);
}
/* line 267, ../sass/style.scss */
.bound .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
/* line 271, ../sass/style.scss */
.bound .page.flipped:nth-child(even):before {
  background: transparent;
}

/* line 279, ../sass/style.scss */
* {
  box-sizing: border-box;
}
/* line 281, ../sass/style.scss */
* :before, *:after {
  box-sizing: border-box;
}

/* line 286, ../sass/style.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 304, ../sass/style.scss */
.alien {
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 20%;
  border-radius: 50%;
  opacity: 0.7;
  box-shadow: 1px 1px 8px #9C9C9A;
}

/* line 314, ../sass/style.scss */
#name {
  margin-top: 12%;
  font-family: "Special Elite", cursive;
  font-size: 24px;
  text-align: center;
}

/* line 320, ../sass/style.scss */
.self {
  height: 220px;
  display: block;
  margin: auto;
  margin-top: 8%;
  border-radius: 8px;
}

/* line 328, ../sass/style.scss */
.text {
  color: #676161;
  margin-left: 14%;
  margin-right: 12%;
  margin-top: 12%;
}

/* line 335, ../sass/style.scss */
.photo {
  height: 270px;
  display: block;
  margin: auto;
  margin-top: 8%;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #9C9C9A;
}

/* line 344, ../sass/style.scss */
.author {
  text-align: center;
  font-family: "Special Elite", cursive;
  padding-top: 15px;
}

/* line 350, ../sass/style.scss */
.varidada, .starry, .lollipop, .bouncing {
  display: block;
  margin: auto;
  margin-top: 5%;
}

/* line 356, ../sass/style.scss */
.page {
  /*color: transparent;*/
  color: black;
  font-family: "Kalam", cursive;
  font-weight: 300;
  background-color: #f7f4eb;
  background-image: url("https://candylabs.github.io/images/sprinkles.png");
}
/* line 363, ../sass/style.scss */
.page:nth-child(1), .page:nth-child(22) {
  background-color: rgba(247, 244, 235, 0.75);
}

/* --- Sections --- */
/* line 371, ../sass/style.scss */
#about {
  padding-right: 18%;
  padding-top: 6em;
}

/* line 375, ../sass/style.scss */
#portfolio {
  padding-top: 5em;
}

/*** About Section ***/
/* line 380, ../sass/style.scss */
.instruction {
  margin-top: 5%;
  margin-left: 45%;
}

/* line 385, ../sass/style.scss */
#about {
  display: flex;
  min-height: 100vh;
}
/* line 388, ../sass/style.scss */
#about .wrapper {
  max-width: 80%;
  margin: auto;
  margin-right: 10%;
}

/* line 395, ../sass/style.scss */
#about:hover .global-button.rotated::before {
  animation: move_arrow_v 2500ms ease-in infinite forwards;
}

@keyframes move_arrow_v {
  0% {
    transform: rotate(0deg) translateX(0px);
  }
  50% {
    transform: rotate(0deg) translateY(0px);
  }
  60% {
    transform: rotate(0deg) translateY(8px);
  }
  70% {
    transform: rotate(0deg) translateY(0px);
  }
  80% {
    transform: rotate(0deg) translateY(8px);
  }
  90% {
    transform: rotate(0deg) translateY(0px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
/*** Portfolio Section ***/
/* Filters */
/* line 433, ../sass/style.scss */
#portfolio > .filters {
  margin-right: 10%;
  text-align: right;
  padding: 0 20px;
}

/* line 439, ../sass/style.scss */
.filters__title {
  display: inline-block;
  vertical-align: baseline;
  color: #676161;
}

/* line 445, ../sass/style.scss */
.filters__list {
  display: inline-block;
  vertical-align: baseline;
}

/* line 450, ../sass/style.scss */
.filters__label {
  font-family: "Jura", sans-serif;
  font-weight: 300;
  color: rgba(103, 97, 97, 0.3);
  display: inline-block;
  position: relative;
  margin-left: .8em;
  cursor: pointer;
}
/* line 454, ../sass/style.scss */
.filters__label:not(:first-child)::before {
  color: #ECE9E6;
}
/* line 461, ../sass/style.scss */
.filters__label.is-active {
  color: #676161;
}
/* line 464, ../sass/style.scss */
.filters__label:not(:first-child)::before {
  content: "/";
  margin-right: .8em;
}

/* Projects */
/* line 472, ../sass/style.scss */
.portfolio__project-wrapper {
  padding: 0 10px;
  margin-top: 2%;
  min-height: 80%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

/* line 482, ../sass/style.scss */
.portfolio__project {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 4%;
  width: 200px;
  height: 200px;
  padding: 0;
  background-color: #ECE9E6;
  background-image: url("https://candylabs.github.io/images/sandpaper.png");
  background-clip: padding-box;
  overflow: hidden;
  border-radius: 5px 30px 5px 5px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}

/* line 499, ../sass/style.scss */
.portfolio__project__preview {
  position: relative;
  top: 0;
  width: 200px;
  height: 170px;
}
/* line 504, ../sass/style.scss */
.portfolio__project__preview > img {
  display: block;
  margin: auto;
  margin-top: 15%;
  width: 70%;
  height: auto;
  border-radius: 5px;
}

/* line 514, ../sass/style.scss */
.portfolio__project__description {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 1.3em 1.3em;
  text-align: center;
  background: #e3dfd8;
}

/* line 523, ../sass/style.scss */
.portfolio__project__name {
  font-family: "Yatra One", cursive;
  font-weight: 600;
  font-size: 1em;
  color: #1F2124;
  margin: 0;
  margin-bottom: .2em;
}

/* line 532, ../sass/style.scss */
.portfolio__project__category {
  font-family: "Jura", sans-serif;
  font-weight: 300;
  font-size: .8em;
  color: white;
  margin-bottom: .6em;
}

/* line 540, ../sass/style.scss */
.portfolio__project__preview, .portfolio__project__description {
  transition: all 600ms ease;
}

/* line 545, ../sass/style.scss */
.portfolio__project:hover .portfolio__project__description {
  transform: translateY(-90%);
}
/* line 548, ../sass/style.scss */
.portfolio__project:hover .portfolio__project__preview {
  transform: translateY(-2.5em);
}
