<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Reel Player - SQ [1a]</title>
    <!--meta viewport tag causes safari-disappear-bug when I run at native 2880x1880 setres.app -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      
    <link rel="stylesheet" href="../css/main.css">
      
    </head>
    <body>
    <div data-repo="jquery-boilerplate/jquery-boilerplate">
      <!--   <div id='' class=''></div>     ╱╲╱╲╱╲╱╲╱╲-->
      <div id='Reel-Player-BG' class='light-gradient-bg RP-wrap'>
        <section id="about" class="IT-wrap">
          <div class="introduction">
            <a href="#portfolio" class="global-button rotated scroll"> see my work </a>
          <div>
        </section>
        <section id="portfolio" class="IT-wrap">
          <div class="player">
  
          <div>
        </section>
      </div>
    </div>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='lib/jquery.github.min.js'></script>
    <script>
        $("[data-repo]").github();
    </script>
    </body>
  </html>