<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>shdy.cc</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <!--meta viewport tag causes safari-disappear-bug when I run at native 2880x1880 setres.app -->
    <<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400|Nunito+Sans:200,300|Yantramanav:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css'>
    <link rel="stylesheet" href="../css/reel.css">
    <link rel="stylesheet" href="../css/main.css">
      
    </head>
    <body>
      <!--   <div id='' class=''></div>-->
      <div id='Reel-Player-BG' class='light-gradient-bg RP-wrap'>
        <section id="about" class="IT-wrap">
          <div class="introduction">
            <!-- <div class="selfie"> -->
            <img class='selfie' src="https://github.com/CandylabS/CandylabS.github.io/blob/master/img/avatar.png?raw=true">
            <div class="text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
          <div class="toggle1">
            <a class="" href="#portfolio" class="global-button rotated scroll"> see my work </a>
          <div>
        </section>
        <section id="portfolio" class="IT-wrap">
          <div class="demo-wrapper">
          <ul class="portfolio-items">
          <li class='item'>
          <div id='' class='reel-player-cont amb-heavy-shadow'>
            <div class='rp-img-cont'>
              <img id='RP-GoldSands_DE' class='player-img' src="https://github.com/CandylabS/CandylabS.github.io/blob/master/img/ray-tracer.png?raw=true">
                <div class="span">
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                </div>
            </div>
            <div id='' class='player-bar-top'>
              <h1 id='' class=''>Ray Tracer Experiments</h1>
              <h2 id='' class=''>Processing</h2>
              <p>Skip<i class="material-icons">navigate_next</i></p>  
            </div>
            
            <div id='' class='player-bar-btm'>
              
<!--               <div class="volume-slide-cont">
                <div class="slider_horizontal">
                  <div class="progress">
                    <div class="handle"></div>
                  </div>
                </div>
              </div> -->
              <div class="gallery">
                <div id='Play-Pause' class='center-button image-link' href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p5_photon_mapping/t02.png?raw=true">
                <svg id="Play-SVG-Circle" class="">
                  <circle id="Circle-Outline"  class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-Fill" class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-gsap" class="" cy="50%" cx="50%" r="21em"/>
                </svg>
                <i class="material-icons">play_arrow</i>
                </div>
                <div id='Play-Pause' class='center-button image-link' href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p2_distribution_ray_tracing/t04.png?raw=true">
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p2_distribution_ray_tracing/t05.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p2_distribution_ray_tracing/t06.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p2_distribution_ray_tracing/t08.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p2_distribution_ray_tracing/t09.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p4_procedural_textures/t01.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p4_procedural_textures/t02.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p4_procedural_textures/t03.png?raw=true" title="caption" class="image-link"></div>
                <div href="https://github.com/CandylabS/Ray-Tracing-Experiments/blob/master/p4_procedural_textures/t04.png?raw=true" title="caption" class="image-link"></div>
              </div>
              <a class="btm-right-cont" target="_blank" href="https://github.com/CandylabS/Ray-Tracing-Experiments">
                <i class="material-icons i-fullscreen">code</i>
              </a>    
          </div>
            </li>

          <li class='item'>
          <div id='' class='reel-player-cont amb-heavy-shadow'>
            <div class='rp-img-cont'>
                <img id='RP-GoldSands_DE' class='player-img' src="https://github.com/CandylabS/CandylabS.github.io/blob/master/img/animation.png?raw=true">
                <div class="span">
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                </div>
            </div>
            <div id='' class='player-bar-top'>
              <h1 id='' class=''>Physically based Animations</h1>
              <h2 id='' class=''>C++</h2>
            </div>
            
            <div id='' class='player-bar-btm'>
              <div id='Play-Pause' class='center-button video' href="https://player.vimeo.com/video/199229953">
                <svg id="Play-SVG-Circle" class="">
                  <circle id="Circle-Outline"  class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-Fill" class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-gsap" class="" cy="50%" cx="50%" r="21em"/>
                </svg>
                <i class="material-icons ">play_arrow</i>
              </div>
              <a class="btm-right-cont" target="_blank" href="https://github.com/CandylabS/CS7496-Computer-Animation">
                <i class="material-icons i-fullscreen">code</i>
              </a>
          </div>
            </li>

            <li class='item'>
          <div id='' class='reel-player-cont amb-heavy-shadow'>
            <div class='rp-img-cont'>
              <img id='RP-GoldSands_DE' class='player-img' src="https://github.com/CandylabS/CandylabS.github.io/blob/master/img/lollipop.png?raw=true">
              <div class="span">
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                </div>
            </div>
            <div id='' class='player-bar-top'>
              <h1 id='' class=''>Lollipop Forest</h1>
              <h2 id='' class=''>WebAudio API | Paper.js</h2>
              <p>Skip<i class="material-icons">navigate_next</i></p>  
            </div>
            
            
            <div id='' class='player-bar-btm'>
              <div id='Play-Pause' class='center-button video' href="https://player.vimeo.com/video/199415620">
                <svg id="Play-SVG-Circle" class="">
                  <circle id="Circle-Outline"  class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-Fill" class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-gsap" class="" cy="50%" cx="50%" r="21em"/>
                </svg>
                <i class="material-icons ">play_arrow</i>
              </div>
              <a class="btm-left-cont" target="_blank" href="../lollipop-forest/lollipop-forest.html">
                <i class="material-icons i-fullscreen">open_in_new</i>
              </a>
              <a class="btm-right-cont" target="_blank" href="https://github.com/CandylabS/Lollipop-Forest">
                <i class="material-icons i-fullscreen">code</i>
              </a>
          </div>
            </li>

          <li class='item'>
          <div id='' class='reel-player-cont amb-heavy-shadow'>
            <div class='rp-img-cont'>
              <img id='RP-GoldSands_DE' class='player-img' src="https://github.com/CandylabS/CandylabS.github.io/blob/master/img/starry.png?raw=true">
                <div class="span">
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                </div>
            </div>
            <div id='' class='player-bar-top'>
              <h1 id='' class=''>Starry Night</h1>
              <h2 id='' class=''>Processing | Minim</h2>
              <p>Skip<i class="material-icons">navigate_next</i></p>  
            </div>
            
            <div id='' class='player-bar-btm'>
              <div id='Play-Pause' class='center-button video' href="https://player.vimeo.com/video/147451533">
                <svg id="Play-SVG-Circle" class="">
                  <circle id="Circle-Outline"  class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-Fill" class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-gsap" class="" cy="50%" cx="50%" r="21em"/>
                </svg>
                <i class="material-icons ">play_arrow</i>
              </div>
              <a class="btm-right-cont" target="_blank" href="https://github.com/CandylabS/Loop-Editor">
                <i class="material-icons i-fullscreen">code</i>
              </a>
          </div>
            </li>

          <li class='item'>
          <div id='' class='reel-player-cont amb-heavy-shadow'>
            <div class='rp-img-cont'>
              <img id='RP-GoldSands_DE' class='player-img' src="https://github.com/CandylabS/CandylabS.github.io/blob/master/img/architecture.png?raw=true">
                <div class="span">
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                  <br/>Lorem Ipsum has been industry's standard dummy text.
                </div>
            </div>
            <div id='' class='player-bar-top'>
              <h1 id='' class=''>Architecture Acoustics</h1>
              <h2 id='' class=''>SketchUp | EASE</h2>
              <p>Skip<i class="material-icons">navigate_next</i></p>  
            </div>
            
            <div id='' class='player-bar-btm'>
              <div id='Play-Pause' class='center-button video' href="Wagner-and-Bayreuth-Festspielhaus.pdf">
                <svg id="Play-SVG-Circle" class="">
                  <circle id="Circle-Outline"  class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-Fill" class="" cy="50%" cx="50%" r="21em"/>
                  <circle id="Circle-gsap" class="" cy="50%" cx="50%" r="21em"/>
                </svg>
                <i class="material-icons ">play_arrow</i>
              </div>
<!--               <a class="btm-right-cont" target="_blank" href="https://github.com/CandylabS/Loop-Editor">
                <i class="material-icons i-fullscreen">code</i>
              </a> -->
          </div>
            </li>

          </ul>
          </div>
          <div class="toggle2">
          <a class="" href="#about" class="global-button rotated scroll"> back to top </a>
          </div>
          <!-- <a class="video" title="Test title" href="https://player.vimeo.com/video/199229953">back to top</a> -->
        </section>
      </div>
    <!-- </div> -->
    <script src='../lib/jquery-3.1.1.min.js'></script>
    <!-- <script src='../lib/jquery.github.min.js'></script> -->
    <script src='../lib/jquery.mousewheel.js'></script>
    <script src='https://player.vimeo.com/api/player.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js'></script>
    <script src="../js/scroll.js"></script>
    <script src="../js/reel.js"></script>
    <script src="../js/popup.js"></script>
    </body>
  </html>